@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* <!-- -----=== hero-section ===----- --> */
.hero{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 50px 220px;
}
.hero-btn{
    background-color: rgb(13, 19, 33);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    color: white;
}
.hero-btn a{
    color: white;
}
/* <!-- -----=== Why-Web-Development-section===----- --> */
.Why-Web-Development{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: #fafafb;
    margin: 30px 150px;
    border-radius: 10px;
    padding: 80px 100px;
}
.frame{
    display: flex;
    background-image: linear-gradient(to right, white , #fafafb);
    padding: 45px;
    border-radius: 10px;
    gap: 10px;
    margin: 10px;
}
.bgc-inverse{
    background-image: linear-gradient(to left, white , #fafafb);
}
.frame-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 15px;
    width: 70%;
}
.frame-img{
    width: 30%;
}
.frame-btn{
    padding: 12px 20px;
    border-radius: 0;
    font-size: 15px;
    border: 1px solid black;
}
/* <!-- -----=== My-Inspiration ===----- --> */
.my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cente;
    text-align: center;
    gap: 30px;
    padding: 50px 150px;
}
.video{
    width: 100%;
    height: 500px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.495);
    border-radius: 10px;
}
.video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* <!-- -----=== My-Current-Target ===----- --> */
.current-target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cente;
    text-align: center;
    gap: 30px;
    padding: 80px 150px;
}
.card-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: left;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
}
.card a{
    text-decoration: underline;
    color: black;
}
.icon img{
    width: 20%;
}
.html{
    background-color: #fff6f4;
}
.css{
    background-color: #f2f6fe;
}
.js{
    background-color: #fff2fd;
}
/* <!-- -----=== My-Next-Target ===----- --> */
/* <!-- -----=== contact-section ===----- --> */
.contact{
    margin: 50px 150px;
    padding: 80px 150px;
    width: 77%;
    background: linear-gradient(rgba(0, 0, 0, 0.421), rgba(0, 0, 0, 0.421)), url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}
.text{
 width: 550px;
 height: 45px;
 padding-left: 15px;
}
.submit{
    width: 100px;
    height: 45px;
    font-weight: bold;
}
/* <!-- -----=== footer-section ===----- --> */
#footer-section{
    padding: 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f8f8;
}
.div-icon{
    display: flex;
    gap: 10px;
}